
<%- include("partials/header") -%>

<h1> Home </h1>
<p><%= homeData%> </p>

<% postsData.forEach((userPost)=>{ %>
    <h1> <%= userPost.title %></h1>
    <p> <%= userPost.message.slice(0, 100).concat('...') %>
    <a href="/posts/<%=userPost.title%>">Read Me...</a></p>

    <!-- <p> <% userPost.message.slice(0, 100).concat('...') %>
        <a href= "/posts/ <%= userPost.title %>" >Read More</a> 
    </p> -->
    
<% }) %>


<%- include("partials/footer") -%>